<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-6">
        <!-- CONTENT GOES HERE -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">Sales</div>
            </div>
        </div>
        <div class="flex flex-row">
            <fuse-card class="basis-1/4 block h-screen rounded-sm pb-3 mb-3" fuseScrollbar>
                <div class="flex justify-between py-2 px-4">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">WAITING LIST</div>
                    <div class="mt-1 sm:ml-2">
                        <button
                            class="fuse-mat-button-small w-full"
                            mat-flat-button
                            (click)="addTransaction()"
                            [color]="'primary'">
                            <mat-icon class="icon-size-5" svgIcon="mat_outline:add"></mat-icon>
                            <span>
                                ADD
                            </span>
                        </button>
                    </div>
                </div>
                <div class="mt-2" *ngFor="let sale of sales$ | async; let i = index;">
                    <app-customer-card [Index]="i + 1" *ngIf="sale.status == 'waiting'" [TransactionData]="sale" dataType="waiting"></app-customer-card>
                </div>
            </fuse-card>
            <fuse-card class="basis-3/4 block h-screen ml-2 rounded-sm">
                <div class="flex justify-between py-2 px-4">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">ONPROGRESS</div>
                </div>
                <div class="mt-2" *ngFor="let sale of sales$ | async; let i = index">
                    <app-customer-card *ngIf="sale.status == 'inprogress'" [TransactionData]="sale"></app-customer-card>
                </div>
            </fuse-card>
        </div>
    </div>
</div>