<form [formGroup]="dialogForm" (ngSubmit)="submitForm()">
    <h1 mat-dialog-title>{{ dialogHeader }}</h1>
    <div mat-dialog-content class="flex">
        <div class="basis-3/5">
            <div class="flex flex-row">
                <div class="basis-3/4 mr-1">
                    <mat-form-field
                    class="w-full mt-2">
                        <label 
                            for="floating_outlined" 
                            class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                            Transaction Date
                        </label>
                        <input 
                            [matDatepicker]="picker1" 
                            matInput 
                            formControlName="transaction_date" 
                            class="block pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                            placeholder=" " />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="basis-1/4">
                    <mat-form-field class="w-full mt-2">
                        <input 
                        matInput 
                        formControlName="work_order" 
                        class="block pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                        placeholder=" " />
                        <label 
                            class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                            W.O. #
                        </label>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-row">
                <div class="basis-3/4 mr-4">
                    <mat-form-field class="w-full mt-2">
                        <input 
                        matInput 
                        formControlName="work_order" 
                        class="block pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                        placeholder=" " />
                        <label 
                            class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                            Name
                        </label>
                    </mat-form-field>
                </div>
                <div class="basis-1/4">
                    <mat-slide-toggle 
                        color="primary"
                        class="mt-5">
                        Member?
                    </mat-slide-toggle>
                </div>
            </div>
            <mat-form-field class="w-full">
                <mat-select>
                  <mat-select-filter [array]="variables" [displayMember]="'name'" (filteredReturn)="filteredVariables = $event"></mat-select-filter>
                  <mat-option [value]="variable.id" *ngFor="let variable of filteredVariables">
                    {{variable.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full mt-2">
                <input 
                matInput 
                formControlName="name" 
                class="block pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                placeholder=" " />
                <label 
                    class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                    Plate Number
                </label>
            </mat-form-field>
            <mat-form-field class="w-full mt-2">
                <input 
                matInput 
                formControlName="name" 
                class="block pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                placeholder=" " />
                <label 
                    class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                    Reading Actual Odometer
                </label>
            </mat-form-field>
            <mat-form-field class="w-full mt-2">
                <input 
                matInput 
                formControlName="name" 
                class="block pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                placeholder=" " />
                <mat-hint>Example 09350000000</mat-hint>
                <label 
                    class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                    Contact Number
                </label>
            </mat-form-field>
            <mat-slide-toggle 
            color="primary">
                Add as New Member?
            </mat-slide-toggle>
        </div>
        <div class="basis-2/5">
            <div class="border p-2 m-2 rounded-md border-black border-b-2">
                <span class="block text-xl font-bold">Summary of Purchase</span>
                <span class="block"><b>SUB TOTAL: </b> ₱0 </span>
                <span class="block"><b>DISCOUNT: </b> ₱0</span>
                <span class="block text-lg"><b>TOTAL: ₱0</b> </span>
            </div>
        </div>
    </div>
    <div mat-dialog-actions [align]="'end'" class="m-b-5">
        <button mat-flat-button color="warn" mat-dialog-close>Close</button>
        <button mat-flat-button color="primary" [disabled]="!dialogForm.valid">
          {{ actionBtn }}
        </button>
    </div>
</form>